*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    
    background: linear-gradient(500deg, #153677, #4e085f);
}
.app {
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.app h1{
   font-size: 25px;
   color: #001e4d;
   font-weight: 600;
   border-bottom: 1xp solid #333;
   padding-bottom: 30px;
}
.quiz {
     padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}
.btn {
    background: #fff;
    color: #222;
    font-weight: 500;
    width:100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    cursor: pointer;
    text-align: left;
    transition: all 0.3s;
    
}
.btn:hover:not([disabled]){ 
    background: #222; 
    color: #fff; 
}
.btn:disabled{
     cursor: no-drop;
}
#next-btn{
    background: #2d3cdf;
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    font-size: 15px;
    width: 150px;
    margin: 20px auto 0;
    cursor: pointer;
    display : block;

}
#next-btn:hover{
    background: #001e4d;

}
.correct{
    background: #30df79;
}
.incorrect{
    background: #f02f19;
}






/* #submit-btn{
    background: #2d3cdf;
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    font-size: 15px;
    width: 150px;
    margin: 20px auto 0;
    cursor: pointer;
    margin-left: 43%;

}
 */





















/* #Question {
     font-size: 25px;
     margin-bottom: 40px;
     text-align: center;
}
#ans-btn {
     display: flex;
   

} */